<div class="container">
  <header class="portfolio-header">
        <h1 class="logo">My Portfolio</h1>
        <p> Shanlee Pamugas</p>
       
  </header>
  
  <section id="about" class="section about-section">
    <div class="container">
      <h2>About Me</h2>
      <p> I am Shanlee Pamugas, 20 years old. I live in Brgy. San Roque, Mayorga Leyte. A 3rd year Bachelor of Science in Information Technology at Eastern Visayas State University- Dulag Campus.
        The things that I love to do during free time is driving a motorcycle, playing basketball or volleyball and ML. My goal is to be able to have the capability to help my parents in terms of financial
      </p>
    </div>
  </section>
  
  <section class="contact">
    <h2>Contact</h2>
    <p>Phone: 09317462964/09306743149</p>
    <p>Email: shanpamugas7$gmail.com</p>
    <p>Facebook: Pamugas Shanlee</p>
  </section>
  
  